<h2>Selected band</h2>


<%= @band.name %>

<p>
<a href="<%= edit_band_url(@band) %>">
    <button>
        Edit the band
    </button>
</a>

<p>
<a href="/bands/">
    <button>
        View all the bands
    </button>
</a>