<h1>Sign up form</h1>

<form action="/users" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label> Email:
        <input type="text" name="user[email]">
    </label>
    <p>
    <label> Password:
        <input type="password" name="user[password]">
    </label>
    <p>
    <input type="submit" value="Sign up now!">
</form>