div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightgreen;
  color: white;
}

h1 {
  font-size: 30px;
  font-family: 'Baloo Paaji 2', cursive;
  background-color: orange;
}

.tabs {
  background-color: lightcyan;
}