

body {
    font-family: Arial, sans-serif;     
    background-color: salmon;  
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list { 
    list-style: square;
}

ol li {
    list-style: armenian;
}

header img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    text-decoration-color: inherit;
}