<h1>Create User</h1>

<form action="/users" method="POST">

    <label>Username:
        <input type="text" name="user[username]">
    </label>

    <label>Password:
        <input type="password" name="user[password]">
    </label>

    <button type="submit">Create</button>
</form>