<h1>Login</h1>

<form action="/sessions" method="POST">
    <label> Email:
        <input type="text" name="user[email]">
    </label>
    <p>
    <label> Password:
        <input type="password" name="user[password]">
    </label>
    <p>
    <input type="submit" value="Login">
</form>